*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 20px;
    align-items: center;
}

.navbar a{
    text-decoration: none;
}

.section-home {
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.content {
    width: 100%;
    display: grid;
    align-items: center; 
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.info {
    grid-column: 1;
}

.home-img {
    grid-column: 2;
}


.section-about {
    background-color: blueviolet;
    width: 100%;
    height: 100vh;   
}

.section-contact {
    background-color: rgb(35, 36, 141);
    width: 100%;
    height: 100vh;
}