*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
    scroll-behavior: smooth;
}

.btn {
    
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


/* CSS */
.btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#header {
    position: fixed;
    width: 100%;
    top:0;
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.page-logo a{
    color: black;
}

.navbar a{
    text-decoration: none;
    justify-content: flex-end;
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    color: black;
    height: 100%;
}

.navbar a:hover {
    background-color: gray;
}

.section-home {
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: flex;
    
}


.content {
    width: 100%;
    display: grid;
    align-items: center; 
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.info {
    grid-column: 1;
    color: white;
}

.info h1{
    font-size: 46px;
    margin-bottom: 25px;
}

.info h3{
    font-size: 36px;
    margin-bottom: 10px;
}

.info p {
    font-size: 20px;
    margin-bottom: 40px;
}


.important {
    color:aquamarine;
    font-weight: 600;
}

.home-img {
    grid-column: 2;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}


.section-about {
    background-color: blueviolet;
    width: 100%;
    height: 100vh;   
}

.section-contact {
    background-color: rgb(35, 36, 141);
    width: 100%;
    height: 100vh;
}
