@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", verdana, sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --text-color1: #fff;
}

.btn {
  background-color: aquamarine;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(12, 73, 40);
  cursor: pointer;
  padding: 12px 25px;
  transition: all 250ms;
  border: 0;
  font-weight: 600;
  font-size: 21px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.97);
  transition: all 150ms;
  background-color: rgb(73, 146, 122);
  color: rgb(202, 255, 202);
}

main {
  background-color: rgb(58, 109, 153);
  width: 100%;
}

/* HEADER --------------------------------------------------------------------*/

#header {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.3s;
}

.page-logo a h1 {
  color: var(--text-color1);
  font-weight: 600;
}

.navbar a {
  text-decoration: none;
  justify-content: flex-end;
  padding: 15px 40px 15px 40px;
  font-size: 20px;
  color: var(--text-color1);
  height: 100%;
  transition: 0.15s ease-in-out;
  display: inline-block;
}

.navbar a:hover {
  /* font-size: 22px; */
  transform: scale(1.1);
}

.navbar a.active {
  color: aquamarine;
}

.open-icon {
  display: none;
}

.close-icon {
  display: none;
}

/* HOME SECTION ------------------------------------------------------------- */

.section-home {
  background: #03001e;
  background: -webkit-linear-gradient(
    120deg,
    #4b20ad,
    #290099,
    #7303c0,
    #03001e
  );
  background: linear-gradient(100deg, #3f179b, #290099, #7303c0, #03001e);
  width: 100%;
  height: 100vh;
  display: flex;
}

.content {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.info {
  padding: 0 40px;
  grid-column: 1;
  color: var(--text-color1);
}

.info h1 {
  font-size: 46px;
  margin-bottom: 25px;
}

.info h3 {
  font-size: 36px;
  margin-bottom: 10px;
}

.info p {
  font-size: 22px;
  margin-bottom: 80px;
}

.span-hl {
  color: rgb(127, 255, 212);
  font-weight: 600;
}

.home-img {
  grid-column: 2;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  -webkit-filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5));
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  position: relative;
}

.img-footer {
  font-size: 0.8rem;
  display: none;
  color: white;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.home-img:hover .img-footer {
  display:block
}

.home-img img {
  border-radius: 50%;
  width: 70%;
}

#arrow {
  z-index: 1;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  float: none;
  animation: float 2s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}

#arrow img {
  width: 100%;
}

/* ABOUT SECTION ------------------------------------------------------------- */

.section-about {
  display: flex;
  flex-direction: column;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #242424,
    #060038
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #242424,
    #060038
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  min-height: 100vh;
}

.about-content {
  color: var(--text-color1);
  width: 90%;
  border-radius: 5px;
  margin: auto;
}

.about-content .content {
  justify-items: flex-start;
  width: 100%;
  height: 100%;
}

.abt-title {
  padding: 40px 0;
  text-align: center;
  margin: 0 auto;
  color: var(--text-color1);
}

.abt-title h1 {
  font-size: 40px;
}

.abt-info {
  padding-left: 100px;
}

.about-info-left {
  grid-column: 1;
}

.about-info-right {
  grid-column: 2;
}

.abt-info h3 {
  font-size: 22px;
}

.abt-info p {
  padding: 20px 0 40px 20px;
  font-size: 18px;
}

.abt-info #p {
  padding: 20px 0 10px 20px;
}

.abt-info a {
  color: rgb(55, 219, 164);
  text-decoration: underline;
}

.btn-contact {
  text-align: center;
  margin: 30px 0;
}

/* CONTACT SECTION ----------------------------------------------------------- */

.section-contact {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    180deg,
    #242424,
    #110041,
    #160052,
    #1e0072
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    180deg,
    #242424,
    #261752,
    #241450,
    #1e0072
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100vh;
  text-align: center;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color1);
}

.txt-contact h1 {
  font-size: 40px;
  margin-bottom: 35px;
}

.txt-contact h3 {
  font-size: 20px;
}

.contact-icons {
  padding: 40px 0;
}

.contact-icons li {
  display: inline-block;
  margin: 20px;
}

.phrase {
  position: absolute;
  bottom: 60px;
  padding: 0 20px;
}

/* FOOTER --------------------------------------------------------------------- */

footer {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: linear-gradient(rgba(5, 0, 15, 0.95), rgba(4, 5, 19, 0.85));
  background: -webkit-linear-gradient(
    rgba(5, 0, 15, 0.95),
    rgba(4, 5, 19, 0.85)
  );
}

.footer-text {
  color: var(--text-color1);
}

.footer-icon-top {
  transition: 0.3s;
}

.footer-icon-top a {
  color: var(--text-color1);
}

.footer-icon-top:hover,
.footer-icon-top a:hover {
  transform: scale(1.2);
  color: aquamarine;
}

/* ICONS --------------------------------------------------------------------- */

#abt-i.bx {
  margin-right: 20px;
}

.bx,
.fab {
  font-size: 40px;
}

.bxl-html5 {
  color: #ff5733;
}

.bxl-css3 {
  color: #2965f1;
}

.bxl-javascript {
  color: #f0db4f;
}

.fa-react {
  color: #61dbfb;
}

.fa-laravel {
  color: #f05340;
}

.social-icons .fa {
  font-size: 1.8em;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa {
  border-radius: 50%;
}

.social-icons .fa:hover,
.social-icons .fa:active {
  color: #fff;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.52);
  -webkit-box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.52);
  -moz-box-shadow: 0px 0px 1px 10px rgba(255, 255, 255, 0.52);
}

.social-icons.icon-rotate .fa:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.2) rotate(-360deg);
  -moz-transform: scale(1.2) rotate(-360deg);
  -ms-transform: scale(1.2) rotate(-360deg);
  -o-transform: scale(1.2) rotate(-360deg);
  transform: scale(1.2) rotate(-360deg);
}

.social-icons .fa-github {
  background-color: #070709;
}
.social-icons .fa-google {
  background-color: #cf3d2e;
}
.social-icons .fa-linkedin {
  background-color: #0085ae;
}
.social-icons .bxl-telegram {
  background-color: #0088cc;
}
.social-icons .fa-whatsapp {
  background-color: #43d854;
}

/* MEDIA AND KEYFRAMES ------------------------------------------------------- */

@keyframes float {
  0% {
    -webkit-filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5));
    transform: translatey(0px);
  }
  50% {
    -webkit-filter: drop-shadow(25px 15px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(25px 15px 5px rgba(0, 0, 0, 0.2));
    transform: translatey(-20px);
  }
  100% {
    -webkit-filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.5));
    transform: translatey(0px);
  }
}

/* MEDIA 800PX ------------------------------------------------------- */

/* (I have realised that it is better to work with
 a base value of the font-sizes, like a var or a base size to use with
 rem) */

@media screen and (max-width: 800px) {
  .open-icon {
    display: block;
    cursor: pointer;
  }

  .close-icon {
    display: none;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translate(110%);
    transition: all 0.2s;
  }

  .navbar a {
    display: block;
  }

  .show {
    transform: translate(0);
  }

  header {
    width: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info h1 {
    font-size: 40px;
  }

  .info h3 {
    font-size: 30px;
  }

  .info p {
    font-size: 17px;
    margin-bottom: 40px;
  }

  #button {
    text-align: center;
  }

  .btn {
    padding: 7px 20px;
    font-size: 16px;
  }

  .home-img {
    padding-top: 40px;
  }

  .home-img img {
    width: 250px;
  }

  .vertical-line {
    display: none;
  }

  #arrow {
    width: 50px;
    height: 50px;
  }

  .abt-info {
    padding-left: 0px;
  }
}

/* MEDIA 500PX ------------------------------------------------------- */

@media screen and (max-width: 500px) {
  .home-img {
    padding-top: 50px;
  }

  .info h1 {
    font-size: 34px;
  }

  .info h3 {
    font-size: 22px;
  }

  .home-img img {
    width: 220px;
  }

  .abt-title h1 {
    font-size: 30px;
  }

  .abt-info p {
    font-size: 16px;
  }

  .contact-icons ul {
    max-width: 350px;
  }

  .txt-contact h1 {
    font-size: 30px;
  }

  .txt-contact h3 {
    font-size: 22px;
  }

  .phrase {
    font-size: 14px;
  }

  .footer-text p {
    font-size: 10px;
  }
}

/* MEDIA 330PX ------------------------------------------------------- */

@media screen and (max-width: 330px) {
  .info h1 {
    font-size: 30px;
  }

  .info h3 {
    font-size: 22px;
  }

  .info p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  #button {
    text-align: center;
  }

  .btn {
    padding: 5px 16px;
    font-size: 13px;
  }
}
